body
{
   
  font-family: Helvetica, Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
 
  color: inherit;
  padding: 2rem;
}

h1
{
  font-size: 2rem;
  font-weight: normal; 
}
input {
  background-color: inherit;
  font-size: 2rem;
  min-width: 200px;
  max-width: 600px;
  margin-bottom: 1rem;
}

button {
  font-size: 2rem;
  background: none;
  border-width: 0;
  cursor: pointer;
}

#eventDisplay {
  font-size: 2rem;
  font-color: inherit
  margin-top: 2rem;
  text-align: left;
  max-width: 600px;
}
